.stats {
  display: flex;
  width: 100%;
}

.stat {
  width: calc(100% / 3);
  padding: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);

  text-align: center;

  background-color: rgba(147, 134, 246, 0.11);
}

.label {
  color: rgb(170, 163, 163);
}

.quantity {
  font-weight: 600;
}
